body{
    width: 1900px;
}
/*
partir primero
de facil a dificil.
primero apunte, después dispara
*/
nav{
    width: ;
}
/*background: transparent url('img/bg-hero.png') 0% 0% no-repeat padding-box;
opacity: 1;
header {
    height: 422px;
    background: transparent url('../img/bg-hero.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}*/